<% include ../header.ejs %>
    <div class="container">
    <div class="products">
            <% 
            if (productsMongo.length == 0) {
            %>
                <h3>Nothing in inventory system</h3>
            <%
            } else {
                for (var i = 0; i < productsMongo.length; i++) {   
                    item = productsMongo[i]; %>
                    <form method="POST" action="/user/accept/<%= item._id %>">
                        <div class="product">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Name of product:</label>
                                </div>
                                <div class="col-sm-6">
                                    <p> <%= item.name %> </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Quantity of product:</label>
                                </div>
                                <div class="col-sm-6">
                                    <p> <%= item.quantity %> </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Prize per unit line:</label>
                                </div>
                                <div class="col-sm-6">
                                    <p> <%= item.prize %> </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Description of product:</label>
                                </div>
                                <div class="col-sm-8">
                                    <p> <%= item.description %> </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Number of products want to claim</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="number" id="numberOfProducts" name="numberOfProducts" min="1" step="1" required>
                                </div>
                            </div>
                            <div class="row productButton">
                                <div class="col-sm-9"></div>
                                <div class="col-sm-3">
                                    <button class="btn btn-warning">Claim</button>
                                </div>
                            </div>
                        </div>
                    </form>                
            <% }
            }
        %>
    </div>
</div>