<header>
    <div>
        <div id="branding">
            <h1>
                <spam class="highlight">Smart</spam> Inventory System
            </h1>
        </div>
        <nav>
            <ul class="ul">
                <li class="current"><a href="#">HOME</a></li>
                <li><a href="/intro/adminLogin">ADMIN</a></li>
                <li><a href="/user/login">USER</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="showcase">
    <div class="container1">
        <h1>Premium Electronic devices</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officiis pariatur aut. Deserunt ex,
            explicabo voluptatum nobis repudiandae aliquid eum ipsam at, qui quas inventore saepe ab nam
            consequuntur atque.</p>
    </div>
</section>

<section id="newsletter">
    <div class="container1">
        <h1> Subscirbe To Our News</h1>
        <form action="">
            <input type="email" placeholder="Enter Email...">
            <button type="submit" class="button">Subscribe</button>
        </form>
    </div>
</section>

<section id="boxes">
    <div class="container1">
        <div class=box>
            <img src="/images/android.jpg">
            <h1>Stock Android</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda tempora, sit commodi fuga
                eligendi tenetur perspiciatis quisquam nisi sapiente, officiis pariatur doloribus et! Neque,
                cumque? Eaque soluta iusto cupiditate sint.</p>
        </div>

        <div class=box>
            <img src="/images/apple.jpg">
            <h1>IOS</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda tempora, sit commodi fuga
                eligendi tenetur perspiciatis quisquam nisi sapiente, officiis pariatur doloribus et! Neque,
                cumque? Eaque soluta iusto cupiditate sint.</p>
        </div>

        <div class=box>
            <img src="/images/lineage.jpg">
            <h1>Lineage OS</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda tempora, sit commodi fuga
                eligendi tenetur perspiciatis quisquam nisi sapiente, officiis pariatur doloribus et! Neque,
                cumque? Eaque soluta iusto cupiditate sint.</p>
        </div>
    </div>
</section>

<footer>
    <p>Team Web, Copyrights &copy; 2019 </p>
</footer>