body{    
    margin: -10px auto;
    padding: 0px;
    background-color: lightgray;
}

.container1{
    width: 90%;
    margin:auto;
    overflow: hidden;
}

img{
    width: 100px;
    height: 100px;
}

/* .ul{
    margin: 0;
    padding: 0;
} */

.button{
    height:32px;
    background: tomato;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
    color: azure;
}

/* Start of Header */
header{
    background-color:#2D4362;
    border-bottom: solid 3px tomato;
    min-height: 70px; 
}
header h1{
    color:azure;
    padding-left: 50px; 
}
header ul{
    list-style-type: none;
    padding-left:70%;
    padding-top: 15px;    
}
header li{
    display: inline;
    padding: 5px;
}
header a{
    text-decoration: none;
    color:azure;
    font-size: 16px; 
}
header #branding{
    margin-top:0px; 
}

/* header and navbar in same line */
header #branding h1{
    float: left;
    width:40%;
}
header navbar{
    float: right;
}
 /* Inorder to highlight the part of the text and current html file */
header .highlight, header .current a{
    color: tomato;
    font-weight: bold;
}
header a:hover{
    color: darkcyan;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
/* End of Header */

/*Start of showcase */
#showcase{
    background-image:url('/images/mobile.jpg');
    
    height: 300px;
    color:azure; 
    min-height: 400px;
}
#showcase h1{
    text-align: center;
    font-size: 30px;
}
#showcase p{
    font-size: 22px;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
}
/*End of showcase */  

/*start of newsletter*/
#newsletter{
    background-color: #2D4362;
    color: azure;
    border-bottom: 1px solid black;
    border-bottom-width: 80%;
}
#newsletter h1{
    float: left;
    width:60%;
    font-weight: bold;
    text-align: center;    
}
#newsletter form{
    float: right;
    width: 40%;
    padding-top:20px; 
}
#newsletter input[type=email]{
    padding:4px;
    width:250px;
    height: 20px;
}
/* End of newsletter*/

/* Placing the 3 blocks in a same row */
.box{
    background-color: grey;
    float: left;
    width: 32%;
    box-sizing: border-box;
    padding: 15px;
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
    /*position: absolute;*/
}

footer{
    background-color:#2D4362;
    margin-top: 20px;
    text-align: center;
    color: azure;
    padding: 1px; 
}