<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div style = "padding: 0 90px;">
    <div class="navbar-header">
      <a class="navbar-brand" href="/user/userHome">Welcome User</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/user/history">History</a>
        </li>
        <li>
          <a href="/user/payment">Payment</a>
        </li>
        <li>
          <a href="/">LogOut</a>
        </li> 
      </ul>
    </div>
  </div>
</nav>