<header>
    <div>
        <div id="branding">
            <h1>
                <spam class="highlight">Smart</spam> Inventory System
            </h1>
        </div>
        <nav>
            <ul class="ul">
                <li><a href="/">HOME</a></li>
                <li><a href="/intro/adminLogin">ADMIN</a></li>
                <li class="current"><a href="/user/login">USER</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container1">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span>User Login</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <% if (message1.length > 0) { %>
        <div class="alert alert-success"><%= message1 %></div>
    <% } %>
    <% if (message2.length > 0) { %>
        <div class="alert alert-success"><%= message2 %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/user/login" method="post">
        
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Log In</button>
    </form>

    <hr>

    <p>Need an account? <a href="/user/signup">Sign Up</a></p>
    <p> <a href="/user/forgot">Forgot Password? </a></p>
  


</div>
</div>

