<header>
    <div>
        <div id="branding">
            <h1>
                <spam class="highlight">Smart</spam> Inventory System
            </h1>
        </div>
        <nav>
            <ul class="ul">
                <li><a href="/">HOME</a></li>
                <li><a href="/intro/adminLogin">ADMIN</a></li>
                <li class="current"><a href="/user/login">USER</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container1">
    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control" name="fullName" required placeholder="Full Name">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" required placeholder="Email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" required placeholder="Password">
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" name="confirmPassword" required
                    placeholder="Confirm Password">
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" name="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="number" class="form-control" name="inputAddress2"
                    placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" name="city" placeholder="City">
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" name="state" placeholder="State">
            </div>
            <div class="form-group">
                <label for="zipcode">Zip Code</label>
                <input type="number" class="form-control" name="zipcode" placeholder="Zip-Code">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Sign Up</button>
        </form>

        <hr>

        <p>Already have an account? <a href="/user/login">Login</a></p>

    </div>
</div>
