<!-- <div class="form">
    <form>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <label>Username:</label>
            </div>
            <div class="col-sm-6">
                <input type="email" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <label>Password:</label>
            </div>
            <div class="col-sm-6">
                <input type="password" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button><a href="/admin">Log In</a></button>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </form>
</div> -->
<header>
    <div>
        <div id="branding">
            <h1>
                <spam class="highlight">Smart</spam> Inventory System
            </h1>
        </div>
        <nav>
            <ul class="ul">
                <li><a href="/">HOME</a></li>
                <li class="current"><a href="/intro/adminLogin">ADMIN</a></li>
                <li><a href="/user/login">USER</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container1">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span>Admin Login</h1>
    <!-- LOGIN FORM -->
    <form action=" " method="post">
        
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg"><a href="/admin">Log In</a></button>
    </form>

</div>
</div>