<div class="form">
        <form> 
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <label>Username:</label>
                </div>
                <div class="col-sm-6">
                    <input type="email"/>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                        <label>Password:</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="password"/>
                    </div>
                    <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <button><a href="/user">Log In</a></button>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </form>
        <div class="row signup">
            <div class="col-sm-4"></div>
            <div class="col-sm-3">
                <p>Need an account</p>
            </div>
            <div class="col-sm-3">
                <button><a href="/">signUp</a></button>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>