<h2>Deleting product</h2>
<form class="deleteProductForm" method="POST" action="/admin/delete/<%= product._id %>">
    <div class="row productFormContent">
        <div class="col-sm-3">
            <label>Name:</label>
        </div>
        <div class="col-sm-6">
            <label><%= product.name %></label>
        </div>
    </div>
    <div class="row productFormContent">
        <div class="col-sm-3">
            <label>Quantity:</label>
        </div>
        <div class="col-sm-6">
            <label><%= product.quantity %></label>
        </div>
    </div>
    <div class="row productFormContent">
        <div class="col-sm-3">
            <label>Prize per line:</label>
        </div>
        <div class="col-sm-6">
            <label><%= product.prize %></label>
        </div>
    </div>
    <div class="row productFormContent">
        <div class="col-sm-3">
            <label>Description:</label>
        </div>
        <div class="col-sm-6">
            <label><%= product.description %></label>
        </div>
    </div>
    <div class="row productFormContent deleteButtonContent pull-right">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form class="returnToList" method="GET" action="/admin">
                <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>
        </div>
        <div class="col-sm-4">
            <button type="submit">Delete</button>
        </div>
    </div>
</form>
