<h2>Product: <%= product.name %></h2>
<form class="deleteProductForm" method="GET" action="/admin">
    <div class="row productFormContent">
        <div class="col-sm-3">
            <label>Name:</label>
        </div>
        <div class="col-sm-6">
            <label><%= product.name %></label>
        </div>
    </div>
    <div class="row productFormContent">
        <div class="col-sm-3">
            <label>Quantity:</label>
        </div>
        <div class="col-sm-6">
            <label><%= product.quantity %></label>
        </div>
    </div>
    <div class="row productFormContent">
        <div class="col-sm-3">
            <label>Prize per line:</label>
        </div>
        <div class="col-sm-6">
            <label><%= product.prize %></label>
        </div>
    </div>
    <div class="row productFormContent">
        <div class="col-sm-3">
            <label>Description:</label>
        </div>
        <div class="col-sm-6">
            <label><%= product.description %></label>
        </div>
    </div>
    <div class="row productFormContent deleteButtonContent pull-right">
        <div class="col-sm-11">
            <input type="submit" value="Return to list" class="btn btn-caution" />
        </div>
        <div class="col-sm-1"></div>
    </div>
</form>