<h2>Product in edit (<%= product.name %>)</h2>
<form class="newProductForm" method="POST" action="/admin/update/<%= product._id %>">
    <div class="row productFormContent">
        <div class="col-sm-12">
            <input type="number" id="_id" name="_id" placeholder="<%= product._id %>" disabled>
        </div>
    </div>
    <div class="row productFormContent">
        <div class="col-sm-12">
            <input type="text" id="name" name="name" placeholder="previous name: <%= product.name %>" required>
        </div>
    </div>
    <div class="row productFormContent">
        <div class="col-sm-12">
            <input type="text" id="description" name="description" placeholder="previous description: <%= product.description %>" required>
        </div>
    </div>
    <div class="row productFormContent">
        <div class="col-sm-12">
            <input type="number" id="quantity" name="quantity" placeholder="previous quantity: <%= product.quantity %>" min="1" step="1" required/>
        </div>
    </div>
    <div class="row productFormContent">
        <div class="col-sm-12">
            <input type="text" id="prize" name="prize" placeholder="previous prize: <%= product.prize %>" required>
        </div>
    </div>
    <div class="row productFormContent">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 anchorTag">
            <a href="/admin">Return to list</a>
        </div>
        <div class="col-sm-5">
            <button type="submit">Update</button>
        </div>
        <div class="col-sm-1"></div>
    </div>
</form>
