<% include ../header.ejs %>
<div class="container">
    <div class="row inventoryMenu">
        <div class="col-sm-3 contentInv">
            <p>Smart Inventory System</p>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3 buttonContent">
            <form action="/admin/addProduct">
                <button type="submit">Add new product</button>
            </form>
        </div>
    </div>
    <div class="products">
        <% 
            if (productsMongo.length == 0) {
            %>
                <h3>Click Add new product button to continue to your inventory system</h3>
            <%
            } else {
                for (var i = 0; i < productsMongo.length; i++) {   
                    item = productsMongo[i]; %>
                    <form name="search-form-<%= i %>" id="search-form-<%= i %>" method="GET" action="/admin/details/<%= item._id %>">
                        <div class="product" onClick="document.forms['search-form-<%= i %>'].submit();">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Name of product:</label>
                                </div>
                                <div class="col-sm-6">
                                    <p> <%= item.name %> </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Quantity of product:</label>
                                </div>
                                <div class="col-sm-6">
                                    <p> <%= item.quantity %> </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Prize per unit line:</label>
                                </div>
                                <div class="col-sm-6">
                                    <p> <%= item.prize %> </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Description of product:</label>
                                </div>
                                <div class="col-sm-8">
                                    <p> <%= item.description %> </p>
                                </div>
                            </div>
                            <div class="row productButton">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-3">
                                    <a href="/admin/edit/<%= item._id %>" class="btn btn-warning">Edit</a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="/admin/delete/<%= item._id %>" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </form>
            <% }
            }
        %>
    </div>
</div>